@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bungee&family=Bungee+Shade&family=Faster+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bungee+Shade&display=swap');

@font-face {
    font-family:'Hollow';
    src: url('../fontes/Hollow.ttf') format('truetype'), url('../fontes/Italic.ttf') format('truetype'), url('../fontes/Android Scratch.ttf') format('truetype'), url('../fontes/Android.ttf') format('truetype');
    font-weight: normal;
}

:root {
    --cor0: #D9D9D9;
    --cor1: #A6A6A6;
    --cor2: #9c9c9c;
    --cor3: #262626;
    --cor4: #262626;
    --cor5: #0D0D0D;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:  'Bungee Shade', cursive;
    --fonte-hollow: 'Hollow', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
    font-size: 1em;
}

main strong {
    font-weight: bold;
    color:black;
}

main a {
    padding: 2px 6px;
    font-weight: bold;
    color: #F205CB;
    background-color: black;
    text-decoration: none;
}

body {
    
    background-image: linear-gradient(to bottom,#E68DF2, #AE4AD9,#5A278C,#100626);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to top,#E68DF2, #AE4AD9,#5A278C,#100626);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;

}

header > h1 {
    color: var(--cor5);
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    
    
}

header > p {
    color: var(--cor5);
    font-size: 1.2em;
    font-family:'Faster One', cursive;
    margin: auto;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.205);
    padding-bottom: 50px;
    
}

nav {
    background-image: linear-gradient(to bottom,#E68DF2, #AE4AD9,#5A278C,#100626);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.384);
    
}


nav > a {
    color:black;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}   

nav > a:hover {
    background-color: #F205CB;
    
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: #d52cdb;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main a:hover {
    text-decoration: underline;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main h1 {
    color: black;
    font-family: var(--fonte-hollow);
    background-image: linear-gradient(to right,#AE4AD9,#E68DF2,transparent );
    font-size: 1.8em;
}

main h2 {
    font-family:var(--fonte-hollow) ;
    color: var(--cor5);
    font-size: 1.3em;
    background-image: linear-gradient(to right,#AE4AD9,#E68DF2,transparent );
    text-indent: 8px;
}

footer {
    background-image: linear-gradient(to bottom,#E68DF2, #AE4AD9,#5A278C,#100626);
    /*background-color: var(--cor5);*/
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color:#F205CB;
}

aside {
    background-color: pink;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 8px black;
}

aside > ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\26A1\00A0\00A0';
}

aside > h3 {
    background-image: linear-gradient(to right,#E68DF2,transparent );
    color: rgb(0, 0, 0);
    font-family: var(--fonte-hollow);
    padding: 10px;
    margin: -10px -10px 0px -10px ;
    border-radius: 10px 10px 0px 0px;
}

a.externo::after {
    content: '\00A0\1F517';

}

div.video {
    background-color: pink;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}